[user]
[color]
  diff = auto
[commit]
	gpgsign = true
[core]
  excludesfile = /Users/andrelima/.gitignore
  editor = vim
[rebase]
  autoSquash = true
[push]
  default = current
	autoSetupRemote = true
[pull]
  rebase = true
