1password
adobe-creative-cloud
android-file-transfer
android-studio
dropbox
firefox
google-chrome
harvest
imageoptim
iterm2
keybase
numi
nvalt
postman
quicksilver
sketch
slack
spectacle
spotify
sublime-text
tunnelbear
visual-studio-code
vivaldi
