1password
adobe-creative-cloud
android-file-transfer
android-studio
dropbox
firefox
google-chrome
harvest
imageoptim
iterm2
keybase
metabase-app
notational-velocity
numi
nvalt
postman
quicksilver
sketch
slack
spectacle
spotify
sublime-text
tunnelbear
