1password
adobe-creative-cloud
android-file-transfer
dropbox
firefox
google-chrome
harvest
imageoptim
iterm2
keybase
numi
nvalt
postman
rectangle
slack
spotify
sublime-text
tunnelbear
visual-studio-code